{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 pb-5 text-gray">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <fieldset>
                <legend class="text-center">로그인</legend>
            </fieldset>   
            <div class="card  border border-soft my-md-5 ">
                <div class="card-body px-lg-5 py-lg-5">
                    <fieldset>                        
                        <form method ="POST">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <label for="{{field.id_for_label}}" class="form-label mt-4">{{field.label}}</label>
                                {{field}}                            
                            </div>  
                            {% endfor %}
                            {{ msg }}                      
                            <div class="d-grid gap-2 mt-4">
                                <button type="submit" class="btn btn-lg btn-primary mt-4">로그인</button>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}